body {
  position: relative;

  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  overflow-x: hidden;
}

section {
  width: 100%;
  overflow: hidden;
}

::selection {
  color: var(--clr-bg);
  background-color: var(--clr-pink);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}
