.header {
  --gap: 0.5rem;
  @include flex(null, flex-start, center);
  flex-wrap: wrap;

  position: sticky;

  padding: 0.5rem 1.5vw;

  font-weight: 700;
  z-index: 999;

  & > * + * {
    margin-left: 1rem;
  }

  &__logo {
    width: 2rem;
    margin-right: auto;
    padding-block: 0.4rem;

    @include respond-to("900->") {
      width: 2.5rem;
      margin-right: 0;
    }
  }

  &__nav {
    --gap: 1.5vw;

    & a {
      text-decoration: none;
      color: var(--clr-text);
    }

    ul {
      --gap: clamp(1rem, 1vw, 1.2rem);
      @include flex(null, flex-start, center);
      flex-wrap: wrap;

      &:first-child {
        display: none;

        @include respond-to("900->") {
          @include flex(null, flex-start, center);
        }
      }
    }

    @include respond-to("900->") {
      @include flex(null, flex-start, center);
    }

    &.open {
      z-index: 1;

      ul {
        position: fixed;
        @include flex(column, flex-start, flex-start);
        top: 0;
        left: 0;

        li a {
          color: var(--clr-bg);
          font-size: clamp(1rem, 7vw, 2.5rem);
        }

        &:last-child {
          @include respond-to("900->") {
            z-index: -1;
            visibility: hidden;
            opacity: 0;
          }
        }

        &:not(.checklist) {
          gap: 2rem;
          padding-left: 5vw;
        }
      }

      .checklist {
        position: absolute;
        top: 100%;
        z-index: 2;

        & li a {
          font-size: clamp(1rem, 4vw, 1.5rem);
          color: var(--clr-text);
        }
      }

      .header__icon {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__login {
    display: none;
    position: relative;
    margin-left: auto;

    border-radius: 10rem;
    overflow: hidden;

    @include respond-to("900->") {
      @include flex(null, null, center);
    }
  }

  &__menu-logo {
    @include flex(null, null, center);

    cursor: pointer;

    z-index: 1;

    @include respond-to("900->") {
      display: none;
    }

    svg {
      width: 2.7rem;
      height: 2.7rem;

      fill: var(--clr-text);
    }

    &.open svg {
      position: fixed;
      right: 0.6rem;
      fill: var(--clr-bg);
    }
  }

  &__icon {
    cursor: pointer;
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1rem;
  aspect-ratio: 1;
  border: 1px solid var(--clr-pink);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s ease;

  z-index: 999;

  &.active-cursor {
    width: 3rem;
    border: 1px solid var(--clr-gray);
    opacity: 0.3;
    background-color: var(--clr-pink);
    transition: width 0.3s ease, opacity 0.3s ease, border 0.2s linear,
      background-color 0.3s ease-in;
  }
}

.openlist {
  position: relative;
  @include flex(null, flex-start, center);

  @include respond-to("900->") {
    --gap: 0;
  }

  & i {
    filter: invert(1);
    translate: 0 0 1px;
    transition: all 0.3s linear;

    @include respond-to("900->") {
      filter: invert(0);
    }
  }

  .checklist {
    --gap: 0.6rem;
    display: grid;
    grid-auto-rows: min-content;

    position: absolute;
    top: 2rem;

    scale: 1 0;

    transform-origin: top;

    width: max-content;
    padding: 1rem;

    background-color: transparent;
    text-transform: initial;

    transition: scale 0.4s ease, background-color 0.2s linear;

    li {
      position: relative;
      overflow: hidden;

      opacity: 0;
    }

    & a {
      position: relative;
      color: var(--clr-bg);
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--clr-text);
        transform-origin: right;
        scale: 0;
        transition: scale 0.6s cubic-bezier(0.19, 1, 0.22, 1);

        @include respond-to("900->") {
          background-color: var(--clr-bg);
        }
      }

      &:hover:after {
        scale: 1;
        transform-origin: left;
      }
    }
  }
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  cursor: pointer;
  z-index: 1;

  &:checked ~ ul {
    scale: 1 1;

    background-color: var(--clr-bg);
    transition: scale 0.5s linear, background-color 1s ease;

    @include respond-to("900->") {
      background-color: var(--clr-text);
    }
  }

  &:checked ~ ul li {
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &:checked + i {
    rotate: 180deg;
    translate: 0 0 1px;
    opacity: 0.7;
    transition: all 0.3s linear;
  }
}
