.header {
  @include flex(null, flex-start, center);

  &__logo {
    width: 5rem;
    aspect-ratio: 1;
  }

  &__nav {
    ul {
      @include flex(null, flex-start, center);
    }
  }

  &__login {
    margin-left: auto;
  }
}
