.choose {
  @include respond-to("900->") {
    margin-top: -7rem;
  }

  &__title {
    text-align: center;
    padding: clamp(2rem, 4vw, 5rem);
    line-height: 1.2;
  }
}

.section {
  &__container {
    --gap: 0;
    @include flex(null, center, stretch);
    flex-wrap: wrap;
    border-block: 0;

    @include respond-to("900->") {
      border-block: 2px solid;
    }

    & > * + * {
      border-left: 0;

      @include respond-to("900->") {
        border-left: 2px solid;
      }
    }

    & > * {
      flex-basis: 100%;

      @include respond-to("900->") {
        flex-basis: 50%;
      }
    }
  }

  &__box {
    @include flex(column, flex-start, center);
    background-color: var(--clr-gray);
    padding: 8vw;
    text-align: center;

    &--bg {
      --clr-gray: var(--clr-yellow);
      --clr-cassette: hsl(65, 10%, 47%);
    }

    &:last-child {
      background-color: var(--clr-cassette);
    }

    & > * + * {
      @include respond-to("900->") {
        --flow-space: 2rem;
      }
    }

    & h3 {
      width: fit-content;
    }

    & picture {
      order: -1;
      max-width: 70%;
      padding-bottom: 2rem;
      margin-top: auto;

      @include respond-to("900->") {
        & {
          max-width: 100%;
          order: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.production {
  &__title {
    display: block;

    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    text-align: center;
    font-weight: normal;

    @include respond-to("900->") {
      padding: 3rem;
    }

    & span {
      font-weight: 600;
      margin-bottom: 4rem;
    }

    i {
      transition: scale 0.3s linear;
    }

    &:hover i {
      scale: 1.3;
    }
  }

  &__footer {
    --gap: 2rem;
    @include flex(column, center, center);
    background-color: var(--clr-text);
    color: var(--clr-bg);
    padding: 3rem;

    & p {
      width: 100%;
      text-align: center;

      @include respond-to("900->") {
        width: 55%;
        text-align: left;
      }
    }

    & a {
      color: var(--clr-bg);
    }

    @include respond-to("900->") {
      --gap: 5rem;
      @include flex(row, center, center);
    }
  }
}

.services {
  @include flex(column, null, null);
  min-height: 100vh;

  & > * {
    flex-basis: 50%;
  }

  @include respond-to("900->") {
    @include flex(row, null, null);
  }

  &__info {
    @include flex(column, center, center);
    padding: 5vw;
    text-align: center;
    line-height: 1;

    & > * + * {
      margin-top: 2rem;
    }

    h2 {
      -webkit-text-stroke: 0.1rem var(--clr-text);

      color: var(--clr-bg);
    }
  }

  &-img {
    width: 45%;
    order: 3;

    @include respond-to("900->") {
      order: 0;
    }

    img {
      rotate: -5deg;
      border: solid var(--clr-text);
    }
  }
}

.support {
  --gap: 0;
  @include flex(null, null, null);
  flex-wrap: wrap;

  & > * {
    width: 28rem;
    flex-grow: 1;
  }

  &__network,
  &__help {
    @include flex(column, flex-start, center);
    text-align: center;

    & > * + * {
      margin-top: 2rem;
    }

    & figure {
      width: 90%;
      height: auto;

      margin-top: 2rem;
      margin-bottom: 1rem;

      @include respond-to("900->") {
        height: 20rem;
        margin-bottom: 4rem;
      }
    }

    & p {
      width: 80%;
      // text-align: center;
      margin-bottom: 4rem;
    }

    & h2 {
      width: 80%;
    }
  }

  &__network {
    color: var(--clr-bg);
    background-color: var(--clr-text);

    h3 {
      color: var(--clr-text);
    }
  }

  &__help {
    background-color: var(--clr-pink);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid;
    }
  }
}

.community {
  @include flex(column, center, center);
  padding: 8vw;

  & > * {
    text-align: center;
  }
}
