:root {
  --clr-yellow: hsl(58, 100%, 51%);
  --clr-pink: hsl(286, 100%, 75%);
  --clr-gray: hsl(65, 10%, 47%);
  --clr-bg: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 0%);
  --clr-cassette: hsl(177, 24%, 38%);
  --clr-orange: hsl(22, 100%, 53%);

  --fs-300: 3rem;
  --fs-260: 2.6rem;
  --fs-250: clamp(1.2rem, 3vw, 2.5rem);
  --fs-240: 2.4rem;
  --fs-160: clamp(1.6rem, 3vw, 2.5rem);
  --fs-150: 1.5rem;
  --fs-140: clamp(1rem, 1.4vw, 1.4rem);
  --fs-120: clamp(0.8rem, 1.44vw, 1rem);

  --ticker-gap: 2rem;

  @include respond-to("900->") {
    --ticker-gap: 5rem;
  }
}
